<h1>TRANSACTIONS</h1>

<div class="grid">
  <div class="grid-row">
    <h3><a href="/transactions/new">ADD TRANSACTION</a></h3>
  </div>

  <div class="grid-row">
    <h4>TOTAL: <%= @transactions_total %> $</h4>
  </div>

  <div class="grid-row">
    <table>
      <tr>
        <th>date</th>
        <th></th>
        <th>concept</th>
        <th></th>
        <th><a id="tag_title" href="/tags">tag</a></th>
        <th></th>
        <th>amount</th>
      </tr>
      <%for transaction in @transactions %>
      <tr>
        <td><%= transaction.dt %></td>
        <td></td>
        <td><%= transaction.name %></td>
        <td></td>

        <td><a href="/tag/<%=transaction.tag.id%>"><%= transaction.tag().name %></a></td>
        <td></td>
        <td><%= transaction.amount + " $" %></td>
        <td></td>
        <td>
          <form method="post" action="/transactions/<%=transaction.id%>/delete">
            <input type="submit" value="delete" id="delete_">
          </form>
        </td>
        <td>
          <form method="get" action="/transactions/<%=transaction.id%>/edit" >
            <input type="submit" name="" value="edit">
          </form>
        </td>
      </tr>
      <% end %>
    </table>
  </div>

</div>
